.app-shell {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: var(--black);
}

.panel-shell {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.panel-stage {
  flex: 1;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
